<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <meta charset="UTF-8"/>
    <title>Spring Guestbook</title>
</head>
<body>
<h1>Users Table</h1>
<img th:src="@{/images/logo.png}" />
<div th:if="${entries.isEmpty()}">
    <p>There are no entries</p>
    <h2 th:text="${formHeader}"></h2>

    <form th:object="${newEntry}" method="post">
        <label>User: </label>
        <input type="text" size="32" th:field="*{user}" />
        <label>Comment: </label>
        <input type="text" size="64" th:field="*{comment}" />

        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />

        <p class="warning" th:if="${#fields.hasErrors('user')}">User cannot be empty</p>
        <p class="warning" th:if="${#fields.hasErrors('comment')}">Comment cannot be empty</p>
    </form>
</div>
<div th:if="${!entries.isEmpty()}">
<table>
    <tr>

        <th>User</th><th>Comment</th><th>Delete</th><th>Update</th>
    </tr>
    <tr th:each="entry: ${entries}">
        <td th:text="${entry.user}"></td>
        <td th:text="${entry.comment}"></td>
        <td><a th:href="@{'/delete/'+${entry.id}}">Delete</a></td>
        <td><a th:href="@{'/update/'+${entry.id}}">Update</a></td>
    </tr>
</table>
    <h2 th:text="${formHeader}"></h2>

    <form th:object="${newEntry}" method="post">
        <label>User: </label>
        <input type="text" size="32" th:field="*{user}" />
        <label>Comment: </label>
        <input type="text" size="64" th:field="*{comment}" />

        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />

        <p class="warning" th:if="${#fields.hasErrors('user')}">User cannot be empty</p>
        <p class="warning" th:if="${#fields.hasErrors('comment')}">Comment cannot be empty</p>
    </form>
</div>
</body>
</html>