<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <meta charset="UTF-8"/>
    <title>Spring Beer</title>
</head>
<body>
<h1>Beer Catalogue</h1>
<div align="center">
<img th:src="@{/images/logo.png}" />
</div>
<div th:if="${entries.isEmpty()}">
    <p>There are no entries</p>
    <h2 th:text="${formHeader}"></h2>
</div>
<div th:if="${!entries.isEmpty()}">
<table align="center">
    <tr>
        <th>Beer</th><th>Country of Origin</th><th>Alcohol Percentage</th><th>Date Tested</th><th>Delete</th><th>Update</th>
    </tr>
    <tr th:each="entry: ${entries}">
        <td th:text="${entry.user}"></td>
        <td th:text="${entry.comment}"></td>
        <td th:text="${entry.percent} + '%'"></td>
        <td th:text="${entry.time}"></td>
        <td><a th:href="@{'/delete/'+${entry.id}}">Delete</a></td>
        <td><a th:href="@{'/update/'+${entry.id}}">Update</a></td>
    </tr>
</table>
    <h2 th:text="${formHeader}"></h2>

</div>
<form th:object="${newEntry}" method="post" style="text-align: center">
    <input placeholder="Beer" type="text" size="32" th:field="*{user}" /><br/>
    <input placeholder="Country of Origin" type="text" size="32" th:field="*{comment}" /><br/>
    <input placeholder="Alcohol Content" type="text" size="32" th:field="*{percent}"/><br/>
    <input placeholder="Date Tested" type="date" size="10" th:field="*{time}" /><br/>
    <input type="submit" value="Submit" />
    <input type="reset" value="Reset" />
    <br/>
    <p class="warning" th:if="${#fields.hasErrors('user')}">Beer Must Be Between 3 and 30 Characters</p>
    <p class="warning" th:if="${#fields.hasErrors('comment')}">Country Must Be Between 3 and 40 Characters</p>
    <p class="warning" th:if="${#fields.hasErrors('percent')}">Percent Must Be Between 0 and 100%</p>
    <p class="warning" th:if="${#fields.hasErrors('time')}">Time cannot be empty</p>
</form>

</body>
</html>